<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <a th:replace="fragments/backlink :: event (eventName=${configuration.event.name})"></a>

    <h2 th:text="${configuration.name}"></h2>

    <div class="row">
        <div class="col-md-4" th:each="foodOption: ${configuration.foodOptions}">
            <div class="card" >
                <div class="card-header">
                    <i class="fa fa-cutlery"></i>
                    <span th:text="${foodOption.name}"></span>
                    <span class="badge badge-light" th:text="${foodOption.priceAsString}"></span>

                    <form th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} +'/' + ${foodOption.name} + '/delete'}" method="post">
                        <button type="submit" class="btn btn-sm" style="display: inline;" th:href="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/delete'}">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li th:each="extraOption: ${foodOption.extraOptions}" class="list-group-item">
                            <span th:text="${extraOption.name}"></span>
                            <span class="badge badge-light" th:text="${extraOption.priceAsString}"></span>
                        </li>
                        <li  class="list-group-item">
                            <form th:if="${food.uuid == foodOption.uuid}" action="#" th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/' + ${foodOption.name} + '/add_extra'}" th:object="${extra}" method="POST">
                                <label>
                                    <input type="text" th:field="*{name}" class="form-control" />
                                </label>
                                <label for="price">
                                    <input type="text" th:field="*{price}" class="form-control"/>
                                </label>
                                <button type="submit" value="Submit" class="btn btn-primary">Add</button>
                            </form>
                            <a th:if="${food.uuid!=foodOption.uuid}" class="btn btn-secondary btn-block" th:href="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/' + ${foodOption.name} + '/add_extra'}">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                                Add Extra
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-4" th:if="${food.uuid==null}">
            <form  action="#" th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} +'/add_food'}" th:object="${food}" method="POST">
                <div class="card" >
                    <div class="card-header">
                        <i class="fa fa-cutlery"></i>
                        <label for="name">
                            <input placeholder="name" type="text" th:field="*{name}" class="form-control" id="name"/>
                        </label>
                        <label for="price">
                            <input placeholder="0.00" type="text" th:field="*{price}" class="form-control" id="price"/>
                        </label>
                    </div>
                    <div class="card-footer">
                        <button type="submit" value="Submit" class="btn btn-primary">Add and continue</button>
                        <a th:href="@{'/event/' + ${configuration.event.name}}" type="cancel" class="btn btn-secondary">Add</a>

                    </div>
                </div>
            </form>
        </div>
    </div>




</div>

</body>
</html>
