<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <a th:replace="fragments/backlink :: event (eventName=${configuration.event.name})"></a>

    <h2 th:text="${configuration.name}"></h2>

    <div class="row">
        <div class="col-md-4" th:each="foodOption: ${configuration.foodOptions}">
            <div class="card" th:with="editModus=${food != null and food.uuid==foodOption.uuid}">
                <div class="card-header">
                    <i class="fa fa-cutlery"></i>
                    <span th:text="${foodOption.name}"></span>
                    <span class="badge badge-light" th:text="${foodOption.priceAsString}"></span>

                    <form style="display: inline; float: right;"
                          th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} +'/' + ${foodOption.name} + '/delete'}" method="post">
                        <button type="submit" class="btn btn-sm" style="display: inline;">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                    <a style="display: inline; float: right;" th:if="${!editModus}" class="btn btn-sm"
                       th:href="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/' + ${foodOption.name} + '/edit'}">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Sizes</li>
                        <li th:each="size: ${foodOption.sizesToChooseFrom}" class="list-group-item">
                            <span th:text="${size.name}"></span>
                            <span class="badge badge-dark" th:text="${size.priceAsString}"></span>
                            <form style="display: inline; float: right;"
                                  th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} +'/' + ${foodOption.name} + '/' + ${size.name} + '/delete'}" method="post">
                                <button type="submit" class="btn btn-sm" style="display: inline;">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </form>
                        </li>
                        <li class="list-group-item" th:if="${editModus}">
                            <form class="form-inline" action="#"
                                  th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/' + ${foodOption.name} + '/add_size'}" method="POST">
                                <input style="width: 40%;" placeholder="name" type="text" name="name" class="form-control"/>
                                <input style="width: 30%;" placeholder="price" type="number" step="any" min="0" name="price" class="form-control"/>
                                <button type="submit" value="Submit" class="btn btn-primary">Add</button>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="card-body" th:if="${!#lists.isEmpty(foodOption.extraOptions) or editModus}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info">Extra options</li>
                        <li th:each="extraOption: ${foodOption.extraOptions}" class="list-group-item">
                            <span th:text="${extraOption.name}"></span>
                            <span class="badge badge-dark" th:text="${extraOption.priceAsString}"></span>
                        </li>
                        <li class="list-group-item" th:if="${editModus}">
                            <form action="#"
                                  th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/' + ${foodOption.name} + '/add_extra'}" method="POST">
                                <input style="width: 40%;" placeholder="name" type="text" name="name" class="form-control"/>
                                <input style="width: 40%;" placeholder="price" type="number" step="any" min="0" name="price" class="form-control"/>
                                <button type="submit" value="Submit" class="btn btn-primary">Add</button>
                            </form>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="col-md-4" th:if="${food != null and food.uuid==null}">
            <form action="#" th:action="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} +'/add'}" th:object="${food}" method="POST">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-cutlery"></i>
                        <label for="name">
                            <input placeholder="name" type="text" th:field="*{name}" class="form-control" id="name"/>
                        </label>
                        <label for="price">
                            <input placeholder="0.00" type="text" th:field="*{price}" class="form-control" id="price"/>
                        </label>
                    </div>
                    <div class="card-footer">
                        <button type="submit" value="Submit" class="btn btn-primary">Add and continue</button>
                    </div>
                </div>
            </form>
        </div>


        <div class="col-md-4" th:if="${food == null or food.uuid != null}">
            <div class="card">
                <div class="card-header">
                    <a  class="btn btn-block"
                       th:href="@{'/event/' + ${configuration.event.name} + '/' + ${configuration.name} + '/add'}">
                        <i class="fa fa-plus-square" aria-hidden="true"></i>
                        <span>Add</span>
                    </a>
                </div>

            </div>
        </div>
    </div>


</div>

</body>
</html>
