<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
    <a th:replace="fragments/backlink :: event (eventName=${event.name})"></a>

    <h1>Invitation</h1>
    <div>
        <span>You are invited for event: </span>
        <a th:href="@{'/event/' + ${event.name}}"><span th:text="${event.name}">Eventname</span> </a>
    </div>

    <div th:each="config: ${event.foodOptionConfigurations}">
        <h2 th:text="${config.name}"></h2>
        <div class="row">
            <div th:each="foodOption: ${config.foodOptions}" class=" col-lg-6">
                <div th:with="alreadySelected=${#lists.contains(selectedFoodOptions, foodOption)}, hasMultipleSizes=${#lists.size(foodOption.sizesToChooseFrom) > 1}">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-cutlery"></i>
                            <span th:text="${foodOption.name}">Name</span>
                            <div style="display: inline;" th:if="${!hasMultipleSizes}">
                                <form style="display: inline;"
                                      th:action="@{'/event/' + ${event.name} + '/invitation/' + ${config.name} + '/' + ${foodOption.name}}"
                                      method="post">
                                    <button type="submit" th:classappend="${alreadySelected ? 'btn-success' : 'btn-secondary' }" style="float: right;" class="btn">
                                        <span th:text="${foodOption.priceAsString}"></span>
                                        <i th:if="${alreadySelected}" class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>

                            <div style="display: inline;" th:if="${hasMultipleSizes}" th:each="size: ${foodOption.sizesToChooseFrom}">
                                <form style="display: inline;"
                                      th:action="@{'/event/' + ${event.name} + '/invitation/' + ${config.name} + '/' + ${foodOption.name} + '/' + ${size.name}}" method="post">
                                    <button type="submit" style="float: right;" class="btn"
                                            th:classappend="${#lists.contains(selectedSizes, size) ? 'btn-success' : 'btn-secondary'}"
                                            th:href="@{'/event/' + ${event.name} + '/invitation/' + ${config.name} + '/' + ${foodOption.name} + '/' + ${size.name}}">
                                        <span th:text="${size.name} + ': ' + ${size.priceAsString}"></span>
                                        <i th:if="${#lists.contains(selectedSizes, size)}" class="fa fa-check-circle-o" aria-hidden="true"></i>

                                    </button>
                                </form>
                            </div>

                        </div>
                        <div class="card-body text-white" th:if="${!#lists.isEmpty(foodOption.extraOptions)}">
                            <div th:each="extraOption: ${foodOption.extraOptions}">
                                <div th:with="alreadySelectedExtra=${#lists.contains(selectedExtraOptions, extraOption)}">
                                    <a th:classappend="${alreadySelectedExtra ? 'btn-success' : 'btn-secondary'}" class="btn btn-secondary"
                                       th:href="@{'/event/' + ${event.name} + '/invitation/' + ${foodOption.uuid} + '/extra_option/' + ${extraOption.uuid}}">

                                        <span th:text="${extraOption.name}"></span>
                                        <span th:text="${extraOption.priceAsString}" class="badge badge-light"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>
