<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">

    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/4.0.0-beta.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/popper.js/1.12.5/dist/popper.js"
            th:src="@{/webjars/popper.js/1.12.5/dist/popper.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/4.0.0-beta.3/js/bootstrap.min.js}"></script>

</head>
<body>
</body>
</html>
